@import "~bootstrap/scss/bootstrap";

// Font colour
$font-blue: #61dbfb;
$font-white: whitesmoke;

// Screen sizes
$mobile: 430px;
$tablet: 810px;

// Basic mixin
@mixin normal-link {
  a {
    font-family: "Rajdhani", sans-serif;
    color: $font-blue;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: $font-white;
  }
}

@mixin button-style {
  .btn {
    background-color: transparent;
    color: $font-blue;
    border-width: 0;
    opacity: 1;
  }
  .btn:hover {
    color: $font-white;
    background-color: transparent;
    border-color: $font-blue;
    opacity: 1;
  }
  a:hover {
    color: $font-white;
  }
}

// Common styling
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: $font-blue;
  font-family: "Megrim", cursive;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
  @include button-style();
}

body {
  background: black;
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgb(0, 0, 0) 100%
  );
}

// Prevent horizontal scrolling
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}

// Font for non-titles

.font-non-title {
  font-family: "Rajdhani", sans-serif;
  color: $font-white;
  padding-top: 3rem;
  .row {
    font-family: "Rajdhani", sans-serif;
    color: $font-white;
    padding: 2rem;
  }
  @include normal-link();
}

// Header component

header {
  display: flex;
  padding: 2rem;
  text-align: right;
  a {
    padding: 2rem;
  }
  img {
    max-width: 2rem;
  }
  .navegation {
    flex-grow: 1;
    margin-left: 3rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1.3rem;
  }
}

.div-navbar {
  padding: 2rem;
  @media only screen and (max-width: $mobile) {
    .div-navbar {
      padding: 1rem;
    }
  }

  .navbar-toggler {
    margin-right: 0;
    margin-top: 0;
  }

}

.navbar-dark .navbar-toggler {
  color: $font-blue;
  border-color: $font-blue;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-toggler:hover {
  border-color: $font-white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: $font-blue;
}

.navbar-dark .navbar-brand {
  color: $font-blue;
  :hover {
    color: $font-white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $font-blue;
  padding-right: 1.5rem;
  :hover {
    color: $font-white;
  }
}

.navbar-dark .navbar-nav .nav-link.active {
  color: $font-blue;
}

.navbar-dark .navbar-text {
  font-size: 2rem;
  color: $font-blue;
}

// Welcome component

.welcome {
  margin: 5rem auto 14rem;
  text-align: center;
  h1 {
    font-size: 5rem;
    padding-bottom: 5rem;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 2rem;
  }
  button {
    color: white;
    padding: 15px 30px;
    font-size: 1.6em;
    border: 3px solid white;
    margin: 30px 20px;
  }
  @media only screen and (max-width: $mobile) {
    h1 {
      font-size: 4rem;
      padding-bottom: 4rem;
    }
    h2 {
      font-size: 2em;
      margin-bottom: 2rem;
    }
  }
}

.subheading {
  padding-left: 3rem;
}

// Projects

.projects {
  margin: 2rem auto 7rem;
  text-align: center;
}

.projects img {
  max-width: 30rem;
  border-radius: 10%;
  margin: 4rem;
}

.hotel-video {
  @media only screen and (max-width: $mobile) {
    width: 95vw;
  }
}

// About

.about {
  margin: 2rem auto 7rem;
  text-align: center;
  li {
    padding: 2rem;
  }
}

// Contact

.form-container {
  margin: 2rem auto 7rem;
  text-align: center;
  .form {
    margin-inline: 20rem;
  }

  .form-control {
    color: $font-white;
    opacity: 1;
    background-color: transparent;
    text-align: center;
  }

  .form-control::placeholder {
    color: $font-white;
    opacity: 0.8;
  }

  @media only screen and (max-width: $tablet) {
    .form {
      margin-inline: 5rem;
    }
  }

  @media only screen and (max-width: $mobile) {
    .form {
      margin-inline: 2rem;
    }
    .btn {
      font-size: small;
    }
    .form-control {
      font-size: small;
    }
  }
}

// Icons

.icon-react {
  color: #61dbfb;
}

.icon-ts {
  color: #007acc;
}

.icon-js {
  color: #f0d43a;
}

.icon-cs {
  color: purple;
}

.icon-sql {
  color: #407088;
}

.icon-bootstrap {
  color: #6643b5;
}

.icon-sass {
  color: #ec729c;
}

.icon-git {
  color: #f96d00;
}

.icon-github {
  color: white;
}

.icon-linkedin {
  color: #0077B5;
}


@media only screen and (max-width: $mobile) {
  svg {
    padding: 1rem;
  }
}
