@import "~bootstrap/scss/bootstrap";

$font-blue: #61dbfb;
$font-white: whitesmoke;

@mixin normal-link {
  a {
    font-family: 'Rajdhani', sans-serif;
    color: $font-blue;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: $font-white;
  }
}

// Common styling
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: $font-blue;
  font-family: "Megrim", cursive;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: black;
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgb(0, 0, 0) 100%
  );
}

button {
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}
.container {
  margin: 5rem auto 15rem;
  text-align: center;
}

// Font for non-titles

.font-non-title {
  font-family: 'Rajdhani', sans-serif;
  color: $font-white;
  padding-top: 3rem;
  .row {
    font-family: 'Rajdhani', sans-serif;
    color: $font-white;
    padding: 2rem;
  }
  @include normal-link()
}

// Header component

header {
  display: flex;
  padding: 2rem;
  text-align: right;
  a {
    padding: 2rem;
  }
  img {
    max-width: 2rem;
  }
  .navegation {
    flex-grow: 1;
    margin-left: 3rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1.3rem;
  }
}

// Welcome component

.welcome {
  h1 {
    font-size: 5rem;
    padding-bottom: 4rem;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  button {
    color: white;
    padding: 15px 30px;
    font-size: 1.6em;
    border: 3px solid white;
    margin: 30px 20px;
  }
}

.subheading {
    padding-left: 3rem;
}

.projects {
    margin: 2rem auto 7rem;
}

.about {
    margin: 2rem auto 7rem;
    li {
      padding: 2rem;
    }
}

// Projects component
.projects img {
  max-width: 30rem;
  border-radius: 10%;
  margin: 4rem;
}

// Icons

.icon-react {
  color: #61dbfb;
}

.icon-ts {
  color: #007acc;
}

.icon-js {
  color: #f0d43a;
}

.icon-cs {
  color: purple;
}

.icon-sql {
  color: #407088;
}

.icon-bootstrap {
  color: #6643b5;
}

.icon-sass {
  color: #ec729c;
}

.icon-git {
  color: #f96d00;
}